@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
#img-div{
  width: 80%;
  height: 50%;
  overflow: hidden;
}

h1 {
  font-size: 16px;
  text-align: center;
}

main {
  padding: 50px;
}

li {
  padding: 3px;
  margin: 3px;
  text-align: center;
}