@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
 img {
max-width: 600px;
height: auto;
  }
  h1 {
    color: #f1be32;
    font-size: min(5vw, 1.2em);
    text-align: center;
  }
  main {
    padding-top: 50px;
  }
  li {
    padding: 3px;
    margin: 3px;
    text-align: center;
  }
  